xbmc.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  version="v1.1">
  <xs:element name="window">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="onload" type="actionType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="onunload" type="actionType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="defaultcontrol" type="defaultControlType" minOccurs="0" maxOccurs="1" />
        <xs:element name="allowoverlay" type="xs:boolean" minOccurs="0" maxOccurs="1" />
        <xs:element name="backgroundcolor" type="colorType" minOccurs="0" maxOccurs="1" />
        <xs:element name="views" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation xml:lang="en">
              A comma(,) delimited list of view IDs
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="visible" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="allowhiddenfocus" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
        <xs:element name="animation" type="animationType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="zorder" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="coordinates" type="coordinatesType" minOccurs="0" maxOccurs="1" />
        <xs:element name="previouswindow" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="include" type="xs:string" />
        <xs:element name="controls">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="include" type="xs:string" />
              <xs:element name="control">
                <xs:alternative test="@type='image'" type="controlTypeImage" />
                <xs:alternative test="@type='label'" type="controlTypeLabel" />
                <xs:alternative test="@type='spincontrol'" type="controlTypeSpin" />
                <xs:alternative test="@type='spincontrolex'" type="controlTypeSpinEx"/>
                <xs:alternative test="@type='edit'" type="controlTypeEdit" />
                <xs:alternative test="@type='list'" type="controlTypeList" />
                <xs:alternative test="@type='wraplist'" type="controlTypeWrapList"/>
                <xs:alternative test="@type='fixedlist'" type="controlTypeFixedList"/>
                <xs:alternative test="@type='fadelabel'" type="controlTypeFadeLabel"/>
                <xs:alternative test="@type='textbox'" type="controlTypeTextbox"/>
                <xs:alternative test="@type='progress'" type="controlTypeProgress"/>
                <xs:alternative test="@type='button'" type="controlTypeButton"/>
                <xs:alternative test="@type='checkmark'" type="controlTypeCheckmark"/>
                <xs:alternative test="@type='group'" type="controlTypeGroup"/>
                <xs:alternative test="@type='grouplist'" type="controlTypeGroupList"/>
                <xs:alternative test="@type='radiobutton'" type="controlTypeRadioButton"/>
                <xs:alternative test="@type='slider'" type="controlTypeSlider"/>
                <xs:alternative test="@type='sliderex'" type="controlTypeSliderEx"/>
                <xs:alternative test="@type='rss'" type="controlTypeRss"/>
                <xs:alternative test="@type='selectbutton'" type="controlTypeSelectButton"/>
                <xs:alternative test="@type='videowindow'" type="controlType"/>
                <xs:alternative test="@type='mover'" type="controlTypeMover"/>
                <xs:alternative test="@type='resize'" type="controlTypeResize"/>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="type" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="actionType" mixed="true">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="condition" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="viewtypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="list" />
      <xs:enumeration value="biglist" />
      <xs:enumeration value="icon" />
      <xs:enumeration value="bigicon" />
      <xs:enumeration value="wide" />
      <xs:enumeration value="bigwide" />
      <xs:enumeration value="wrap"/>
      <xs:enumeration value="bigwrap"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="biginfo"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="defaultControlType">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="always" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="tweenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="linear"/>
      <xs:enumeration value="quadratic"/>
      <xs:enumeration value="cubic"/>
      <xs:enumeration value="sine"/>
      <xs:enumeration value="back"/>
      <xs:enumeration value="circle"/>
      <xs:enumeration value="bounce"/>
      <xs:enumeration value="elastic"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="easingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="in"/>
      <xs:enumeration value="out"/>
      <xs:enumeration value="inout"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="autoscrollType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="delay" type="xs:int"/>
        <xs:attribute name="time" type="xs:int"/>
        <xs:attribute name="repeat" type="xs:int"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="scrolltimeType" mixed="true">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedInt">
        <xs:attribute name="tween" type="tweenType"/>
        <xs:attribute name="easing" type="easingType"/>
        <xs:attribute name="acceleration" type="xs:float"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
 
  <xs:complexType name="animationType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="effect">
        <xs:complexType>
          <xs:attribute name="type" type="animationEffectsType" />
          <xs:attribute name="pulse" type="xs:boolean" />
          <xs:attribute name="loop" type="xs:boolean" />
          <xs:attribute name="start" type="xs:float" />
          <xs:attribute name="end" type="xs:float" />
          <xs:attribute name="delay" type="xs:float" />
          <xs:attribute name="time" type="xs:float" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="type" type="effectsType" />
    <xs:attribute name="condition" type="xs:string" />
    <xs:attribute name="reversible" type="xs:boolean" />
  </xs:complexType>
  <xs:simpleType name="animationEffectsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fade" />
      <xs:enumeration value="slide" />
      <xs:enumeration value="zoom" />
      <xs:enumeration value="rotate" />
      <xs:enumeration value="rotatex" />
      <xs:enumeration value="rotatey" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="effectsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="visible" />
      <xs:enumeration value="hidden" />
      <xs:enumeration value="focus" />
      <xs:enumeration value="unfocus" />
      <xs:enumeration value="windowopen" />
      <xs:enumeration value="windowclose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="textureType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
            <xs:attribute name="border" type="xs:string"/>
            <xs:attribute name="flipy" type="xs:boolean"/>
            <xs:attribute name="flipx" type="xs:boolean"/>
            <xs:attribute name="colordiffuse" type="colorType" use="optional" />
            <xs:attribute name="background" type="xs:boolean" use="optional" />
            <xs:attribute name="diffuse" type="xs:string" use="optional" />
        </xs:extension>
      </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="coordinatesType">
    <xs:sequence>
      <xs:element name="posx" type="xs:string" />
      <xs:element name="posy" type="xs:string" />
      <xs:element name="origin" type="originType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="originType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="x" type="xs:string" />
        <xs:attribute name="y" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="controlType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="include" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="type" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="posx" type="xs:string" />
      <xs:element name="posy" type="xs:string" />
      <xs:element name="width" type="xs:string" />
      <xs:element name="height" type="xs:string" />
      <xs:element name="visible" type="xs:string" />
      <xs:element name="animation" type="xs:string" />
      <xs:element name="camera" type="xs:string" />
      <xs:element name="colordiffuse" type="colorType" />
      <xs:element name="onup" type="xs:string" />
      <xs:element name="ondown" type="xs:string" />
      <xs:element name="onleft" type="xs:string" />
      <xs:element name="onright" type="xs:string" />
      <xs:element name="hitrect" type="xs:string" />
      <xs:element name="pulseonselect" type="xs:string" />
      <xs:element name="control" type="controlType" />
      
      
      <xs:element name="align" type="xs:string" />
      <xs:element name="aligny" type="xs:string" />
      
      
      <xs:element name="number" type="xs:string" />
      <xs:element name="angle" type="xs:string" />
      
      <xs:element name="font" type="xs:string" />
      <xs:element name="textcolor" type="colorType" />
      <xs:element name="shadowcolor" type="colorType" />
      
      <xs:element name="scrollspeed" type="xs:string" />
      <xs:element name="scrollsuffix" type="xs:string" />
      <xs:element name="textoffsetx" type="xs:string" />
      <xs:element name="aspectratio">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="aspectratioType">
              <xs:attribute name="align" type="alignType" />
              <xs:attribute name="aligny" type="alignyType" />
              <xs:attribute name="scalediffuse" type="xs:boolean" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      
      
      <xs:element name="imagepath" type="xs:string" />
      <xs:element name="timeperimage" type="xs:string" />
      <xs:element name="loop" type="xs:string" />
      
      <xs:element name="focusedcolor" type="colorType" />
      <xs:element name="disabledcolor" type="colorType" />
      <xs:element name="textoffsety" type="xs:string" />
      <xs:element name="textwidth" type="xs:string" />
      <xs:element name="onback" type="xs:string" />
      <xs:element name="alttexturefocus" type="textureType" />
      <xs:element name="alttexturenofocus" type="textureType" />
      
      
      <xs:element name="controloffsetx" type="xs:string" />
      <xs:element name="controloffsety" type="xs:string" />
     
      <xs:element name="highlightcolor" type="colorType" />
      
    </xs:choice>
    <xs:attribute name="type" type="controlchoiceType" use="required" />
    <xs:attribute name="id" type="xs:integer" />
  </xs:complexType>
  <xs:complexType name="controlTypeImage" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texture" type="textureType" />
          <xs:element name="bordertexture" type="textureType" />
          <xs:element name="bordersize" type="xs:string" />
          <xs:element name="fadetime" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeLabel" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="wrapmultiline" type="xs:boolean" />
          <xs:element name="haspath" type="xs:boolean" />
          <xs:element name="scroll" type="xs:boolean" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeSpin" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="showonepage" type="xs:boolean" />
          <xs:element name="textureup" type="textureType" />
          <xs:element name="textureupfocus" type="textureType" />
          <xs:element name="texturedown" type="textureType" />
          <xs:element name="texturedownfocus" type="textureType" />
          <xs:element name="subtype" type="spinControlSubType" default="text" />
          <xs:element name="reverse" type="xs:boolean" />
          <xs:element name="range" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeSpinEx" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlTypeSpin">
        <xs:choice maxOccurs="unbounded">
          <!-- not sure if there's any difference from normal spin -->
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeEdit" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefocus" type="textureType" />
          <xs:element name="texturenofocus" type="textureType" />
          <xs:element name="password" type="xs:boolean" />
          <xs:element name="label" type="xs:string" />
          <xs:element name="ontextchange" type="actionType" />
          <xs:element name="hinttext" type="xs:string" />
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeList" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="scrolltime" type="scrolltimeType" />
          <xs:element name="preloaditems" type="xs:string" />
          <xs:element name="itemlayout" type="xs:string" />
          <xs:element name="focusedlayout" type="xs:string" />
          <xs:element name="orientation" type="xs:string" />
          <xs:element name="pagecontrol" type="xs:string" />
          <xs:element name="content">
            <xs:complexType>
              <xs:choice maxOccurs="unbounded" minOccurs="1">
                <xs:element name="item" type="controlTypeListItem" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="viewtype">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="viewtypeType">
                  <xs:attribute name="label" type="xs:string" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeWrapList" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlTypeList">
        <xs:choice>
          <xs:element name="focusposition" type="xs:int"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeFixedList" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlTypeWrapList">
        <xs:choice>
          <xs:element name="movement" type="xs:int"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeListItem" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <!-- placeholder type -->
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeFadeLabel" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="scrollout" type="xs:boolean" default="true"/>
          <xs:element name="pauseatend" type="xs:unsignedInt" default="0"/>
          <xs:element name="resetonlabelchange" type="xs:boolean" default="true"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeTextbox" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="scrolltime" type="scrolltimeType"/>
          <xs:element name="autoscroll" type="autoscrollType"/>
          <xs:element name="pagecontrol" type="xs:int"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeProgress" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="reveal" type="xs:boolean"/>
          <xs:element name="texturebg" type="textureType"/>
          <xs:element name="lefttexture" type="textureType"/>
          <xs:element name="midtexture" type="textureType"/>
          <xs:element name="righttexture" type="textureType"/>
          <xs:element name="overlaytexture" type="textureType"/>
          <xs:element name="info" type="xs:string"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeButton" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefocus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
          <xs:element name="label" type="xs:string"/>
          <xs:element name="label2" type="xs:string"/>
          <xs:element name="onclick" type="actionType"/>
          <xs:element name="onfocus" type="actionType"/>
          <xs:element name="onunfocus" type="actionType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeCheckmark" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturecheckmark" type="textureType"/>
          <xs:element name="texturecheckmarknofocus" type="textureType"/>
          <xs:element name="markwidth" type="xs:float"/>
          <xs:element name="markheight" type="xs:float"/>
          <xs:element name="label" type="xs:string"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeGroup" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="defaultcontrol" type="defaultControlType"/>
          <xs:element name="renderfocusedlast" type="xs:boolean"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeGroupList" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlTypeGroup">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="scrolltime" type="scrolltimeType"/>
          <xs:element name="usecontrolcoords" type="xs:boolean"/>
          <xs:element name="itemgap" type="xs:float"/>
          <xs:element name="pagecontrol" type="xs:int"/>
          <xs:element name="orientation" type="orientationType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeRadioButton" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefocus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
          <xs:element name="textureradioonfocus" type="textureType"/>
          <xs:element name="textureradioonnofocus" type="textureType"/>
          <xs:element name="textureradioofffocus" type="textureType"/>
          <xs:element name="textureradiooffnofocus" type="textureType"/>
          <xs:element name="radiowidth" type="xs:float"/>
          <xs:element name="radioheight" type="xs:float"/>
          <xs:element name="radioposx" type="xs:float"/>
          <xs:element name="radioposy" type="xs:float"/>
          <xs:element name="usealttexture" type="xs:string"/>
          <xs:element name="selected" type="xs:string"/>
          <xs:element name="onclick" type="actionType"/>
          <xs:element name="onfocus" type="actionType"/>
          <xs:element name="onunfocus" type="actionType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeSlider" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="info" type="xs:string"/>
          <xs:element name="texturesliderbar" type="textureType"/>
          <xs:element name="textureslidernib" type="textureType"/>
          <xs:element name="textureslidernibfocus" type="textureType"/>
          <xs:element name="action" type="actionType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeSliderEx" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlTypeSlider">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="sliderwidth" type="xs:float"/>
          <xs:element name="sliderheight" type="xs:float"/>
          <xs:element name="texturefocus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
          <xs:element name="label" type="xs:string"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeRss" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="tagset" type="xs:string"/>
          <xs:element name="headlinecolor" type="colorType"/>
          <xs:element name="titlecolor" type="colorType"/>
          <xs:element name="urlset" type="xs:int"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeSelectButton" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefoxus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
          <xs:element name="texturebackground" type="textureType"/>
          <xs:element name="textureleft" type="textureType"/>
          <xs:element name="textureright" type="textureType"/>
          <xs:element name="textureleftfocus" type="textureType"/>
          <xs:element name="texturerightfocus" type="textureType"/>
          <xs:element name="label" type="xs:string"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeMover" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefocus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="controlTypeResize" mixed="true">
    <xs:complexContent>
      <xs:extension base="controlType">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="texturefocus" type="textureType"/>
          <xs:element name="texturenofocus" type="textureType"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    
  <xs:simpleType name="controlchoiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="image" />
      <xs:enumeration value="largeimage"/>
      <xs:enumeration value="label" />
      <xs:enumeration value="spincontrol" />
      <xs:enumeration value="spincontrolex"/>
      <xs:enumeration value="edit" />
      <xs:enumeration value="list" />
      <xs:enumeration value="wraplist"/>
      <xs:enumeration value="fixedlist"/>
      <xs:enumeration value="fadelabel" />
      <xs:enumeration value="textbox" />
      <xs:enumeration value="progress" />
      <xs:enumeration value="button" />
      <xs:enumeration value="checkmark" />
      <xs:enumeration value="group" />
      <xs:enumeration value="grouplist" />
      <xs:enumeration value="radiobutton" />
      <xs:enumeration value="slider" />
      <xs:enumeration value="sliderex"/>
      <xs:enumeration value="rss"/>
      <xs:enumeration value="selectbutton"/>
      <xs:enumeration value="videowindow"/>
      <xs:enumeration value="mover"/>
      <xs:enumeration value="resize"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="spinControlSubType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="int" />
      <xs:enumeration value="page" />
      <xs:enumeration value="float" />
      <xs:enumeration value="text" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="orientationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="horizontal"/>
      <xs:enumeration value="vertical"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="aspectratioType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="keep" />
      <xs:enumeration value="scale" />
      <xs:enumeration value="center" />
      <xs:enumeration value="stretch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alignType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="center" />
      <xs:enumeration value="right" />
      <xs:enumeration value="left" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alignyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="center" />
      <xs:enumeration value="bottom" />
      <xs:enumeration value="top" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="colorType">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Color defined as either a name or AARRGGBB value. The list provided are the default names available in XBMC but it`s possible to define others.
      </xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="aliceblue" />
          <xs:enumeration value="antiquewhite" />
          <xs:enumeration value="aqua" />
          <xs:enumeration value="aquamarine" />
          <xs:enumeration value="azure" />
          <xs:enumeration value="beige" />
          <xs:enumeration value="bisque" />
          <xs:enumeration value="black" />
          <xs:enumeration value="blanchedalmond" />
          <xs:enumeration value="blue" />
          <xs:enumeration value="blueviolet" />
          <xs:enumeration value="brown" />
          <xs:enumeration value="burlywood" />
          <xs:enumeration value="cadetblue" />
          <xs:enumeration value="chartreuse" />
          <xs:enumeration value="chocolate" />
          <xs:enumeration value="coral" />
          <xs:enumeration value="cornflowerblue" />
          <xs:enumeration value="cornsilk" />
          <xs:enumeration value="crimson" />
          <xs:enumeration value="cyan" />
          <xs:enumeration value="darkblue" />
          <xs:enumeration value="darkcyan" />
          <xs:enumeration value="darkgoldenrod" />
          <xs:enumeration value="darkgray" />
          <xs:enumeration value="darkgreen" />
          <xs:enumeration value="darkkhaki" />
          <xs:enumeration value="darkmagenta" />
          <xs:enumeration value="darkolivegreen" />
          <xs:enumeration value="darkorange" />
          <xs:enumeration value="darkorchid" />
          <xs:enumeration value="darkred" />
          <xs:enumeration value="darksalmon" />
          <xs:enumeration value="darkseagreen" />
          <xs:enumeration value="darkslateblue" />
          <xs:enumeration value="darkslategray" />
          <xs:enumeration value="darkturquoise" />
          <xs:enumeration value="darkviolet" />
          <xs:enumeration value="deeppink" />
          <xs:enumeration value="deepskyblue" />
          <xs:enumeration value="dimgray" />
          <xs:enumeration value="dodgerblue" />
          <xs:enumeration value="firebrick" />
          <xs:enumeration value="floralwhite" />
          <xs:enumeration value="forestgreen" />
          <xs:enumeration value="fuchsia" />
          <xs:enumeration value="gainsboro" />
          <xs:enumeration value="ghostwhite" />
          <xs:enumeration value="gold" />
          <xs:enumeration value="goldenrod" />
          <xs:enumeration value="gray" />
          <xs:enumeration value="green" />
          <xs:enumeration value="greenyellow" />
          <xs:enumeration value="honeydew" />
          <xs:enumeration value="hotpink" />
          <xs:enumeration value="indianred" />
          <xs:enumeration value="indigo" />
          <xs:enumeration value="ivory" />
          <xs:enumeration value="khaki" />
          <xs:enumeration value="lavender" />
          <xs:enumeration value="lavenderblush" />
          <xs:enumeration value="lawngreen" />
          <xs:enumeration value="lemonchiffon" />
          <xs:enumeration value="lightblue" />
          <xs:enumeration value="lightcoral" />
          <xs:enumeration value="lightcyan" />
          <xs:enumeration value="lightgoldenrodyellow" />
          <xs:enumeration value="lightgrey" />
          <xs:enumeration value="lightgreen" />
          <xs:enumeration value="lightpink" />
          <xs:enumeration value="lightsalmon" />
          <xs:enumeration value="lightseagreen" />
          <xs:enumeration value="lightskyblue" />
          <xs:enumeration value="lightslategray" />
          <xs:enumeration value="lightsteelblue" />
          <xs:enumeration value="lightyellow" />
          <xs:enumeration value="lime" />
          <xs:enumeration value="limegreen" />
          <xs:enumeration value="linen" />
          <xs:enumeration value="magenta" />
          <xs:enumeration value="maroon" />
          <xs:enumeration value="mediumaquamarine" />
          <xs:enumeration value="mediumblue" />
          <xs:enumeration value="mediumorchid" />
          <xs:enumeration value="mediumpurple" />
          <xs:enumeration value="mediumseagreen" />
          <xs:enumeration value="mediumslateblue" />
          <xs:enumeration value="mediumspringgreen" />
          <xs:enumeration value="mediumturquoise" />
          <xs:enumeration value="mediumvioletred" />
          <xs:enumeration value="midnightblue" />
          <xs:enumeration value="mintcream" />
          <xs:enumeration value="mistyrose" />
          <xs:enumeration value="moccasin" />
          <xs:enumeration value="navajowhite" />
          <xs:enumeration value="navy" />
          <xs:enumeration value="none" />
          <xs:enumeration value="oldlace" />
          <xs:enumeration value="olive" />
          <xs:enumeration value="olivedrab" />
          <xs:enumeration value="orange" />
          <xs:enumeration value="orangered" />
          <xs:enumeration value="orchid" />
          <xs:enumeration value="palegoldenrod" />
          <xs:enumeration value="palegreen" />
          <xs:enumeration value="paleturquoise" />
          <xs:enumeration value="palevioletred" />
          <xs:enumeration value="papayawhip" />
          <xs:enumeration value="peachpuff" />
          <xs:enumeration value="peru" />
          <xs:enumeration value="pink" />
          <xs:enumeration value="plum" />
          <xs:enumeration value="powderblue" />
          <xs:enumeration value="purple" />
          <xs:enumeration value="red" />
          <xs:enumeration value="rosybrown" />
          <xs:enumeration value="royalblue" />
          <xs:enumeration value="saddlebrown" />
          <xs:enumeration value="salmon" />
          <xs:enumeration value="sandybrown" />
          <xs:enumeration value="seagreen" />
          <xs:enumeration value="seashell" />
          <xs:enumeration value="sienna" />
          <xs:enumeration value="silver" />
          <xs:enumeration value="skyblue" />
          <xs:enumeration value="slateblue" />
          <xs:enumeration value="slategray" />
          <xs:enumeration value="snow" />
          <xs:enumeration value="springgreen" />
          <xs:enumeration value="steelblue" />
          <xs:enumeration value="tan" />
          <xs:enumeration value="teal" />
          <xs:enumeration value="thistle" />
          <xs:enumeration value="tomato" />
          <xs:enumeration value="turquoise" />
          <xs:enumeration value="violet" />
          <xs:enumeration value="wheat" />
          <xs:enumeration value="white" />
          <xs:enumeration value="whitesmoke" />
          <xs:enumeration value="yellow" />
          <xs:enumeration value="yellowgreen" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9a-fA-F]{6,8}" />
          <xs:pattern value="\w+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>
